<div class="container">

    <div layout="row">
        <div class="message">
            <p>Oops, it looks like your login didn't work! Want to try again?
                <br> Or reach out to
                <a href="https://help.wheniwork.com/" target="_blank">Customer Support.</a>
            </p>
        </div>
    </div>

    <!-- <div layout="row" layout-align="center center">
            <md-input-container>
                <label>Email</label>
                <input type="email">
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password">
            </md-input-container>
        </div> -->

    <div layout="row">
        <md-button href="#!success" class="btn-good">login :)</md-button>
        <md-button href="#!fail" class="btn-bad">login :(</md-button>
    </div>

</div>
