<div class="container">

<!-- <div layout="row" layout-align="center center">
    <md-input-container>
        <label>Email</label>
        <input type="email">
    </md-input-container>
    <md-input-container>
        <label>Password</label>
        <input type="password">
    </md-input-container>
</div> -->

<div layout="row">
    <md-button href="#!success" class="md-raised md-primary">login :)</md-button>
    <md-button href="#!fail" class="md-raised md-warn">login :(</md-button>
</div>

</div>